# EDA OF STUDENT TEST DATASET

## Problem Statement 
#### This project understands how the student's performance (test score) is affected by other variables such as Gender, Ethnicity,Parental level of education, Lunch and Test preparation course.

## Data Collection
#### Dataset Source - https://www.kaggle.com/datasets/spscientist/students-performance-in-exams?datasetId=74977
#### data consists of 8 columns and 1000 rows

#### Import necessary libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

#### Import csv dataset as pandas dataframe

In [2]:
df = pd.read_csv("data/stud.csv")

#### Show top 5 records

df.head()

#### Shape of the dataset

df.shape

#### Display first 10 records

In [3]:
print(df.head(10))  # Shows first 10 rows

   gender race_ethnicity parental_level_of_education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard
5  female        group B          associate's degree      standard
6  female        group B                some college      standard
7    male        group B                some college  free/reduced
8    male        group D                 high school  free/reduced
9  female        group B                 high school  free/reduced

  test_preparation_course  math_score  reading_score  writing_score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75
5                    none          71             83             78
6               completed          88             95             92
7                    none          40             43             39
8               completed          64             64             67
9                    none          38             60             50

#### Display last 10 rows

In [16]:

print(df.tail(10))  # Shows last 10 rows

     gender race_ethnicity parental_level_of_education         lunch  \
990    male        group E                 high school  free/reduced
991  female        group B            some high school      standard
992  female        group D          associate's degree  free/reduced
993  female        group D           bachelor's degree  free/reduced
994    male        group A                 high school      standard
995  female        group E             master's degree      standard
996    male        group C                 high school  free/reduced
997  female        group C                 high school  free/reduced
998  female        group D                some college      standard
999  female        group D                some college  free/reduced

    test_preparation_course  math_score  reading_score  writing_score
990               completed          86             81             75
991               completed          65             82             78
992                    none          55             76             76
993                    none          62             72             74
994                    none          63             63             62
995               completed          88             99             95
996                    none          62             55             55
997               completed          59             71             65
998               completed          68             78             77
999                    none          77             86             86

#### Dataset Information
##### 1  gender - male/female
##### 2  race_ethnicity - groups from A to D
##### 3  parental_level_of_education - some college, high school, bachelor's degree, master's degree
##### 3   lunch                      - having lunch before test (standard or reduced)
##### 4   test_preparation_course    - completed or not completed 
##### 5   math_score                  
##### 6   reading_score               
##### 7   writing_score

## Data Checks to Perform

#### 1 Check missing values

In [56]:
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

##### There are no missing values

#### 1.1 Visualising the missing values with graph

import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))
sns.heatmap(df.isnull(), cmap="viridis", cbar=False, yticklabels=False)
plt.title("Missing Values Heatmap")
plt.show()

#### Check for duplicate rows

In [36]:

duplicate_rows = df.duplicated().sum()
print(f"Total Duplicate Rows: {duplicate_rows}")

Total Duplicate Rows: 0

##### There are no duplicate values

#### Check data types

In [41]:

print("Column Data Types:")
print(df.dtypes)

Column Data Types:
gender                         object
race_ethnicity                 object
parental_level_of_education    object
lunch                          object
test_preparation_course        object
math_score                      int64
reading_score                   int64
writing_score                   int64
dtype: object

In [46]:
# dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

#### No. of unique values in each column

In [45]:
unique_counts = df.nunique()
print(unique_counts)

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

#### Check various categories present in the categorical columns

In [ ]:
# Select categorical columns
categorical_cols = df.select_dtypes(include=['object', 'category']).columns

# Print unique categories for each categorical column
for col in categorical_cols:
    print(f"Categories in '{col}':")
    print(df[col].unique())
    print("-" * 50)  # for the dotted line

#### Finds the Statistics of the dataset

In [48]:
print(df.describe())

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [51]:
print("Statistical Summary of Categorical Columns:\n")
print(df.describe(include=['object', 'category']))

Statistical Summary of Categorical Columns:

        gender race_ethnicity parental_level_of_education     lunch  \
count     1000           1000                        1000      1000
unique       2              5                           6         2
top     female        group C                some college  standard
freq       518            319                         226       645

       test_preparation_course
count                     1000
unique                       2
top                       none
freq                       642

In [54]:
print("Full Dataset Statistics: both Numerical & Categorical Columns:\n")
print(df.describe(include='all'))

Full Dataset Statistics: both Numerical & Categorical Columns:

        gender race_ethnicity parental_level_of_education     lunch  \
count     1000           1000                        1000      1000
unique       2              5                           6         2
top     female        group C                some college  standard
freq       518            319                         226       645
mean       NaN            NaN                         NaN       NaN
std        NaN            NaN                         NaN       NaN
min        NaN            NaN                         NaN       NaN
25%        NaN            NaN                         NaN       NaN
50%        NaN            NaN                         NaN       NaN
75%        NaN            NaN                         NaN       NaN
max        NaN            NaN                         NaN       NaN

       test_preparation_course  math_score  reading_score  writing_score
count                     1000  1000.00000    1000.000000    1000.000000
unique                       2         NaN            NaN            NaN
top                       none         NaN            NaN            NaN
freq                       642         NaN            NaN            NaN
mean                       NaN    66.08900      69.169000      68.054000
std                        NaN    15.16308      14.600192      15.195657
min                        NaN     0.00000      17.000000      10.000000
25%                        NaN    57.00000      59.000000      57.750000
50%                        NaN    66.00000      70.000000      69.000000
75%                        NaN    77.00000      79.000000      79.000000
max                        NaN   100.00000     100.000000     100.000000

#### Explore Dataset to see the Independent(feature variables) and Dependent(target, to be predicted) variables